<div class="backdrop">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header"> <button type="button" class="close" (click)="onClose()"> &times; </button>
              <h4 class="modal-title" id="myModalLabel"> You made some changes.
              </h4>
          </div>
          <div class="modal-body"> Don't forget to save your changes by clicking 'Save data' in the Manage menu. </div>
          <div class="modal-footer"> 
              <button type="button" class="btn btn-primary" (click)="onClose()">Close </button> 
          </div>
      </div>
  </div>
</div>